*{
    text-align: center;
  
}

body{
    margin: 0;
    font-family: arial;
    background-color: #eee;
    background-color: bisque;
    display: flexbox;
}

main{ 
    margin-top: 75px;
}

#main-navigation{
    background-color: lawngreen;
    padding: 10px;
    width: 100%;
    border: 3px solid black;
    overflow: hidden;
    position: sticky;
    position: fixed;
    top: 0;
}

#main-navigation ul{
    text-align: left;
    list-style-type: none;
    margin-left: 10px;
}

#main-navigation li{
    display: inline-block;
    margin-right: 20px;
}

#main-navigation a{
    color: darkolivegreen;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px ;
    padding: 6px;
}

ul > li :nth-child(2){
    color: red;
}

#name {
    font-style: italic;
    font-size: 24px;
}

.text{
    text-transform: uppercase ;
}

.blue{
    color: blue;
}

.pic{
    height: 100px;
    width: 100px;
}

#contact{
    background-color: lightseagreen;
    border-radius: 25%;
    
}

textarea{
    border-color: blueviolet;
    border-width: 5px;
    background-color: bisque;
    font-weight: bold;
}

footer{
    background-color: #123123;
}